<div id="carouselExampleInterval" class="carousel slide carousel-fade ml-lg-5px " data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img class="d-block w-100 h-50" src="" alt="">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img class="d-block w-100 h-50" src="" alt="">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 h-50" src="" alt="">
      </div>
    </div>
</div>    
<div>
    <h1>ABOUT US</h1>
    <p></p>
</div>
<div>
  <h6>HOW TO</h6>
  <a href=""> SIGNUP?</a>
  <a href=""> APPLY A JOB?</a>
  <a href=""> EDIT PROFILE?</a>
  <a href=""> KNOW A JOB VACANCIES? </a>
  <a href=""> ADD A JOB? </a>
  <a href=""> EDIT A JOB? </a>
</div>
<!-- LOGO IMAGES -->
<div></div>
