<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
      <ul class="navbar-nav navbar-right">
          <a class="nav-link"  routerLink="/login"*ngIf="!_login.loggedIn()"  routerLinkActive="active">LOGIN</a>
          <a class="nav-link" routerLink="/add"*ngIf="_login.loggedIn()"style="cursor:pointer" >SIGNUP</a>
          <a class="nav-link" style="cursor:pointer" (click)="logoutUser()"*ngIf="_login.loggedIn()">Logout</a>
      </ul>
    </div>
  </nav>     -->
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     LOGIN
    </a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" >ALUMNI</a></li>
      <li><a class="dropdown-item" >EMPLOYER</a></li>
      <li><a class="dropdown-item" >FACULTY</a></li>
      <li><a class="dropdown-item" >ADMIN</a></li>
     </ul>
  </li> -->
  <!-- <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     SIGNUP
    </a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" >ALUMNI</a></li>
      <li><a class="dropdown-item" >EMPLOYER</a></li>
      <li><a class="dropdown-item" >FACULTY</a></li>
     </ul>
  </li> -->