
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     LOGIN
    </a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" >ALUMNI</a></li>
      <li><a class="dropdown-item" >EMPLOYER</a></li>
      <li><a class="dropdown-item" >FACULTY</a></li>
      <li><a class="dropdown-item" >ADMIN</a></li>
     </ul>
  </li> 
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     SIGNUP
    </a>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" >ALUMNI</a></li>
     </ul>
  </li>