

    <!-- Contact -->
    <div id="contact" class="form-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 left-wrapper">
                    <div class="text-container">
                        <h2>CONTACT DETAILS</h2>
                        <!-- Contact Container -->
                        <div class="contact-container"> 
                            <div class="contact-icon">
                                <img class="img-fluid" src="images/contact-icon-pin.svg" alt="alternative">
                            </div> <!-- end of contact-icon -->
                            <div class="contact-text">
                                <div>
                                    ICT ACADEMY HQ
                                   <br> L-9, Thejaswini Building,
                                   <br> Technopark, Thiruvananthapuram,
                                   <br> Kerala, India.
                                   <br>Mobile: 7594051437
                                   <br> Phone: +91-471-2700811
                                </div>
                            </div> <!-- end of contact-text -->
                        </div> <!-- end of contact-container -->
                        <!-- end of contact container -->

                        <!-- Contact Container -->
                        <div class="contact-container"> 
                            <div class="contact-icon">
                                <img class="img-fluid" src="images/contact-icon-pin.svg" alt="alternative">
                            </div> <!-- end of contact-icon -->
                            <div class="contact-text">
                                <div>
                                    ICT ACADEMY-CENTRAL REGION
                                    <br> Floor,Rajamally Building,
                                    <br>Infopark, Koratty,
                                    <br>Thrissur, Kerala, India.
                                    <br>Phone: 7594051437 /+91-481-2731050 
                                </div>
                            </div> <!-- end of contact-text -->
                        </div> <!-- end of contact-container -->
                        <!-- end of contact container -->

                        <!-- Contact Container -->
                        <div class="contact-container"> 
                            <div class="contact-icon">
                                <img class="img-fluid" src="images/contact-icon-pin.svg" alt="alternative">
                            </div> <!-- end of contact-icon -->
                            <div class="contact-text">
                                <div>
                                    ICT ACADEMY-NORTH REGION
                                   <br> 2nd Floor, Ul Cyberpark Building,
                                   <br>  Nellikode PO, Kozhikode,
                                   <br>  Kerala, India.
                                   <br> Phone: 7594051437 /+91-495-2431432
                                  </div>
                            </div> <!-- end of contact-text -->
                        </div> <!-- end of contact-container -->
                        <!-- end of contact container -->
                         <!-- Contact Container -->
                         <div class="contact-container"> 
                            <div class="contact-icon">
                                <img class="img-fluid" src="images/contact-icon-pin.svg" alt="alternative">
                            </div> <!-- end of contact-icon -->
                            <div class="contact-text">
                                <div>
                                    ICT ACADEMY-SOUTH REGION
                                    <br> L-9, Thejaswini Building,
                                    <br> Technopark, Thiruvananthapuram,
                                    <br> Kerala, India.
                                    <br>  Phone: 7594051437/+91-471-2700811
                                </div>
                            </div> <!-- end of contact-text -->
                        </div> <!-- end of contact-container -->
                        <!-- end of contact container -->

                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-xl-7 right-wrapper">
                    
                    <!-- Contact Form -->
                    <div class="form-container">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" required>
                                <label class="label-control" for="cname">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" required>
                                <label class="label-control" for="cemail">Email</label>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control-textarea" id="cmessage" required></textarea>
                                <label class="label-control" for="cmessage">Your message</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">SUBMIT</button>
                            </div>
                        </form>
                    </div> <!-- end of form-container -->
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->


    <!-- Copyright -->
    <div class="copyright bg-gray">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <p class="p-small">Copyright © <a href="#your-link">Your name</a></p>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <a href="#your-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#your-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    